body {
  background: #000 no-repeat;
  background-image: radial-gradient(circle, #1b1e93 14%, #000 68%);
  background-attachment: fixed ;
  background-position-y: 7rem;
  height: 90vh;
  scrollbar-color: #6562e7 #000;
}

/* global style */
.g-maxwidth {
  max-width: 1100px;
  margin: auto;
}
